<config>
	<player>
		<money>10</money>
		<helpers>1</helpers>
		<politic>6</politic>
		<emporiums>10</emporiums>
		<victory>0</victory>
		<nobility>0</nobility>
		<max>10</max>
	</player>
	<server>
		<rmi>1099</rmi>
		<socket>1994</socket>
	</server>>
	<colors>
		<color>
			<value>#ffffff</value>
			<name>white</name>
		</color>
		<color>
			<value>#000000</value>
			<name>black</name>
		</color>
		<color>
			<value>#ff9900</value>
			<name>orange</name>
		</color>
		<color>
			<value>#0066ff</value>
			<name>blue</name>
		</color>
		<color>
			<value>#ff99cc</value>
			<name>pink</name>
		</color>
		<color>
			<value>#cc33ff</value>
			<name>violet</name>
		</color>
	</colors>
	<council>
		<size>4</size>
		<councilorPerColor>4</councilorPerColor>
	</council>
	<region>
		<disclosed>2</disclosed>
		<award>5</award>
	</region>
	<!--  these depend on the city map!  -->
	<city>
		<reward>
			<value>20</value>
			<color>#ffd700</color>
		</reward>
		<reward>
			<color>#008000</color>
			<value>12</value>
		</reward>
		<reward>
			<color>#f44343</color>
			<value>8</value>
		</reward>
		<reward>
			<value>5</value>
			<color>#2268df</color>
		</reward>
		
	</city>
	<board>
		<value>25</value>
		<value>18</value>
		<value>12</value>
		<value>7</value>
		<value>3</value>
	</board>
	<nobility>
		<path>src/main/resources/nobtrack.xml</path>
	</nobility>
	<map>
		<path>src/main/resources/map1.xml</path>
		<path>src/main/resources/map2.xml</path>
		<path>src/main/resources/map3.xml</path>
		<path>src/main/resources/map4.xml</path>
		<path>src/main/resources/map5.xml</path>
		<path>src/main/resources/map6.xml</path>
		<path>src/main/resources/map7.xml</path>
		<path>src/main/resources/map8.xml</path>
	</map>

</config>